In [33]:
# %pip install streamlit

In [34]:
# Import necessary modules.
import pandas as pd
import streamlit as st

In [35]:
# Load the dataset.
car_data = pd.read_csv("/Users/tonyx/Downloads/CarPriceData.csv")
car_data

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

# Data Cleaning

In [36]:
# Extract the name of the car manufactures.
car_name = pd.Series([car.split(" ")[0] for car in car_data['CarName']], index = car_data.index)
car_name

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Length: 205, dtype: object

In [37]:
# Create new column for car company names.
car_data['car_company'] = car_name

# Replace misspelled car company names
corrections = {
    "vw": "volkswagen",
    "vokswagen": "volkswagen",
    "porcshce": "porsche",
    "toyouta": "toyota",
    "Nissan": "nissan",
    "maxda": "mazda"
}
car_data['car_company'].replace(corrections, inplace=True)

cylinder_mapping = {
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'ten': 10,
    'twelve': 12
}


car_data['cylindernumber'].replace(cylinder_mapping, inplace=True)

# Drop the 'CarName' column
car_data.drop(columns=['CarName'], inplace=True)

# Select numeric columns
cars_numeric_data = car_data.select_dtypes(include=['int64', 'float64'])

# Drop the 'car_ID' column
cars_numeric_data.drop(columns=['car_ID'], inplace=True)

/var/folders/c0/j6cly2f1751g_t3lqpxmx_gr0000gn/T/ipykernel_8544/3319721124.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_data['car_company'].replace(corrections, inplace=True)
/var/folders/c0/j6cly2f1751g_t3lqpxmx_gr0000gn/T/ipykernel_8544/3319721124.py:28: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  car_data['cylindernumber'].replace(cylinder_mapping, inplace=True)

In [38]:
car_data

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_company
0,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0,volvo
201,202,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0,volvo
202,203,-1,gas,std,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0,volvo
203,204,-1,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,idi,3.01,3.40,23.0,106,4800,26,27,22470.0,volvo
204,205,-1,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0,volvo

In [39]:
rows_with_null= car_data[car_data.isnull().any(axis=1)]
rows_with_null

Empty DataFrame
Columns: [car_ID, symboling, fueltype, aspiration, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price, car_company]
Index: []

[0 rows x 26 columns]

In [31]:
# mapping
cylinder_mapping = {
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'seven': 7,
    'eight': 8,
    'ten': 10,
    'twelve': 12
}

# 应用这个映射到cylindernumber列
car_data['cylindernumber'] = car_data['cylindernumber'].map(cylinder_mapping)

In [40]:
# Convert categorical variables to numerical
categorical_cols = ['symboling', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'fuelsystem']
car_data = pd.get_dummies(car_data, columns=categorical_cols, drop_first=True)
car_data

,car_ID,wheelbase,carlength,carwidth,carheight,curbweight,cylindernumber,enginesize,boreratio,stroke,...,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,1,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,...,False,False,False,False,False,False,False,True,False,False
1,2,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,...,False,False,False,False,False,False,False,True,False,False
2,3,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,...,False,True,False,False,False,False,False,True,False,False
3,4,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,...,False,False,False,False,False,False,False,True,False,False
4,5,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.40,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,109.1,188.8,68.9,55.5,2952,4,141,3.78,3.15,...,False,False,False,False,False,False,False,True,False,False
201,202,109.1,188.8,68.8,55.5,3049,4,141,3.78,3.15,...,False,False,False,False,False,False,False,True,False,False
202,203,109.1,188.8,68.9,55.5,3012,6,173,3.58,2.87,...,False,True,False,False,False,False,False,True,False,False
203,204,109.1,188.8,68.9,55.5,3217,6,145,3.01,3.40,...,False,False,False,False,False,True,False,False,False,False
204,205,109.1,188.8,68.9,55.5,3062,4,141,3.78,3.15,...,False,False,False,False,False,False,False,True,False,False

In [42]:
columns_to_drop = ['wheelbase','carwidth','carheight','curbweight','boreratio','stroke']
car_data.columns
print(car_data.head(10))

   car_ID  wheelbase  carlength  carwidth  carheight  curbweight  \
0       1       88.6      168.8      64.1       48.8        2548
1       2       88.6      168.8      64.1       48.8        2548
2       3       94.5      171.2      65.5       52.4        2823
3       4       99.8      176.6      66.2       54.3        2337
4       5       99.4      176.6      66.4       54.3        2824
5       6       99.8      177.3      66.3       53.1        2507
6       7      105.8      192.7      71.4       55.7        2844
7       8      105.8      192.7      71.4       55.7        2954
8       9      105.8      192.7      71.4       55.9        3086
9      10       99.5      178.2      67.9       52.0        3053

   cylindernumber  enginesize  boreratio  stroke  ...  enginetype_ohcf  \
0               4         130       3.47    2.68  ...            False
1               4         130       3.47    2.68  ...            False
2               6         152       2.68    3.47  ...            False
3               4         109       3.19    3.40  ...            False
4               5         136       3.19    3.40  ...            False
5               5         136       3.19    3.40  ...            False
6               5         136       3.19    3.40  ...            False
7               5         136       3.19    3.40  ...            False
8               5         131       3.13    3.40  ...            False
9               5         131       3.13    3.40  ...            False

   enginetype_ohcv  enginetype_rotor  fuelsystem_2bbl  fuelsystem_4bbl  \
0            False             False            False            False
1            False             False            False            False
2             True             False            False            False
3            False             False            False            False
4            False             False            False            False
5            False             False            False            False
6            False             False            False            False
7            False             False            False            False
8            False             False            False            False
9            False             False            False            False

   fuelsystem_idi fuelsystem_mfi  fuelsystem_mpfi  fuelsystem_spdi  \
0           False          False             True            False
1           False          False             True            False
2           False          False             True            False
3           False          False             True            False
4           False          False             True            False
5           False          False             True            False
6           False          False             True            False
7           False          False             True            False
8           False          False             True            False
9           False          False             True            False

   fuelsystem_spfi
0            False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False

[10 rows x 45 columns]